<div class="cart-box-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="table-main table-responsive">
          <table class="table">
            <thead style="background: orange !important;">
            <tr>
              <th>Images</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderFood of orderFoodList , let i = index">
              <td class="thumbnail-img">
                <a href="#">
                  <img class="img-fluid" src="{{orderFood.food.image}}" alt=""/>
                </a>
              </td>
              <td class="name-pr">
                <a href="#">
                  {{orderFood.food.foodName}}
                </a>
              </td>
              <td class="price-pr">
                <p>{{orderFood.food.price | currency: 'USD'}}</p>
              </td>
              <td class="quantity-box">
                <input type="number" size="4" name="quantity" id="idToChange{{i}}"
                       value="{{orderFood.quantity}}" min="1" max="50" step="1" (change)="changeQuantity(i)">
              </td>
              <td class="total-pr">
                <p>{{orderFood.food.price * orderFood.quantity | currency}}</p>
              </td>
              <th>
                <a href="#removeOrder" (click)="sendFoodToRemove(orderFood)" data-toggle="modal"
                   style="margin-left: 15%">
                  <i class="fas fa-times-circle fa-2x" style="color: red"></i>
                </a>
              </th>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-lg-8 col-sm-12"></div>
      <div class="col-lg-4 col-sm-12">
        <div class="order-box">
          <div class="d-flex gr-total">
            <h5 style="color: orange !important;">Grand Total</h5>
            <div class="ml-auto h5">{{grandTotal | currency : 'USD'}}</div>
          </div>
          <hr>
        </div>
      </div>
      <div class="col-12 d-flex shopping-box"><a href="#Order" data-toggle="modal" class="ml-auto btn hvr-hover"
                                                 style="background: orange !important;">Order</a></div>
    </div>
  </div>
</div>


<div class="modal fade" id="removeOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove Order</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to remove Order?
        <h4 style="color: orange">You can add food to cart again from screen menu !!!</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="removeOrder()">Remove</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Order" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" style="margin-right: 3px"><a href="#uploadTab" class="btn btn-primary"
                                                      aria-controls="uploadTab" role="tab" data-toggle="tab">Cash Payment</a>
            </li>
            <li role="presentation"><a href="#browseTab" class="btn btn-primary" aria-controls="browseTab" role="tab"
                                       data-toggle="tab">Paypal</a>

            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="uploadTab">
              <form>
                <label>Recipient's name(<span style="color: red">*</span>):</label>
                <input type="text" class="form-control">
                <label>Phone(<span style="color: red">*</span>):</label>
                <input type="text" class="form-control">
                <label>Address(<span style="color: red">Arround Da Nang city</span>):</label>
                <input type="text" class="form-control">
                <label>Your note:</label>
                <textarea style="resize: none" class="form-control" rows="5"></textarea>
                <h3 style="float: left;margin-top: 3%;color: orange">Total: {{grandTotal| currency : 'USD'}}</h3>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        style="float: right;margin-left: 10px;margin-top: 10px" id="close2">Close
                </button>
                <button type="submit" class="btn" style="background: orange;color: white;float: right;margin-top: 10px">
                  Save
                </button>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="browseTab">browseTab</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
