<div id="container">
  <div id="part1">
    <div id="companyinfo"><a id="sitelink">StreetFood</a>
      <p id="title">Food Shipping</p>
      <p id="detail">Coming with us , you must has good food in the good moments</p>
    </div>
    <div id="explore">
    </div>
    <div id="visit">
      <p id="txt2">Contract Us:</p>
      <p class="text" style="margin-bottom: 5px">Email: support@streetfood.com</p>
      <p class="text" style="margin-bottom: 5px">Phone: (028)-3621245</p>
      <p class="text" style="margin-bottom: 5px">Address: 218/1 Dong Da street , Da Nang City</p>
    </div>
    <div id="legal">
    </div>
    <div id="subscribe">
      <p id="txt5">Social: </p> <i class="fab fa-facebook-square social fa-2x"></i> <i
      class="fab fa-linkedin social fa-2x"></i> <i class="fab fa-twitter-square social fa-2x"></i>
    </div>
  </div>
  <div id="part2">
    <p id="txt6"><i class="fa fa-copyright"></i>Copyright 2021 C1020G1 Auction Website - All right reserved</p>
  </div>
</div>

