<div class="shop-detail-box-main">
  <div class="container">
    <div class="row" *ngIf="foodDTO">
      <div class="col-xl-5 col-lg-5 col-md-6">
        <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
          <div><img class="d-block w-100"
                    src="{{foodDTO.food.image}}"
                    alt="First slide"></div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-6">
        <div class="single-product-details">
          <h2>{{foodDTO.food.foodName}}</h2>
          <h5>
            {{foodDTO.food.price | currency: 'USD'}}
          </h5>
          <p>
          <h4>Short Description:</h4>
          <p>{{foodDTO.food.description}}</p>

          <div class="price-box-bar">
            <div class="cart-and-bay-btn">
              <a class="btn hvr-hover" data-fancybox-close="" href="#">Add to cart</a>
              <star-rating value="{{foodDTO.rate}}" data-target="#voteRate" data-toggle="modal"
                           totalstars="5" checkedcolor="orange" uncheckedcolor="black" size="40px" readonly="true">
              </star-rating>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 my-5">
      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          <h2>Product Reviews</h2>
        </div>
        <div class="card-body" *ngIf="listComment">
          <div class="media mb-3" *ngFor="let comment of listComment">
            <div class="mr-2">
              <img class="rounded-circle border p-1"
                   src="{{comment.account.user.avatar}}"
                   alt="Generic placeholder image" style="width: 50px;height: 50px">
            </div>
            <div class="media-body">
              <p>{{comment.commentContent}}</p>
              <img *ngIf="comment.commentImage" src="{{comment.commentImage}}" style="width: 50px;height: 50px"/>
              <br>
              <small class="text-muted">Posted by <span style="color: dodgerblue">{{comment.account.user.userName}}</span> on {{comment.commentTime | date : "yyyy-MM-dd HH:mm:ss"}}</small>
              <hr>
            </div>
          </div>
          <hr>
          <a href="#commentModal" data-toggle="modal" class="btn hvr-hover" (click)="clearFormComment()">Review</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="voteRate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Vote for food !!!</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center">
        <h3>Please choose the rate !!!</h3>
        <star-rating value="5" data-target="#voteRate" data-toggle="modal"
                     totalstars="5" checkedcolor="orange" uncheckedcolor="black" size="40px" readonly="false"
                     (rate)="onRate($event)">
        </star-rating>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel2">Feedback for food !!!</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Your feed back is my motivation.</h3>
        <label>
          <i class="fa fa-camera-retro fa-2x" aria-hidden="true" title="Upload Image" style="cursor: pointer"></i>
          <input type="file" hidden (change)="importImage($event)"/>
        </label>
        <form [formGroup]="formComment">
          <textarea style="resize: none" class="form-control" rows="10" id="myTextarea" formControlName="contentComment"></textarea>
          <div *ngIf="message" style="color: red">{{message}}</div>
          <span>
          <i *ngIf="imageComment" class="fa fa-trash delete-icon d-inline" (click)="deleteImage()"
             style="color: red;cursor: pointer"></i>
        </span>
          <img *ngIf="imageComment" [src]="imageComment"
               style="height: 100px;width: 100px;float: left;margin-top: 5px"/>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="float: right;margin-left: 10px;margin-top: 10px" id="close">Close</button>
          <button type="submit" class="btn" style="background: orange;color: white;float: right;margin-top: 10px" (click)="submitComment()">Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
